<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
<main>
    <h1>Загрузка PDF файлов</h1>

    <h2>Список доступных файлов:</h2>
    <ul>
        <!-- Список файлов, который будет заполняться из контроллера -->
        <li th:each="file : ${files}">
            <a th:href="@{/files/download/{fileName}(fileName=${file})}" th:text="${file}"></a>
        </li>
    </ul>

    <h2>Загрузите новый PDF файл:</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf">
        <button type="submit">Загрузить</button>
    </form>
    <!-- Сообщения об успехе или ошибках -->
    <div th:if="${message}">
        <p th:text="${message}"></p>  <!-- Отображение сообщения -->
    </div>
</main>
</body>
</html>
