<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
<main>
    <img class="stImg" src="/graph/chart1WT.png" alt="Возрастное распределение">
    <img class="stImg" src="/graph/chart2WT.png" alt="Распределение по полу">
    <img class="stImg" src="/graph/chart3WT.png" alt="Диаграмма по году рождения">
</main>
</body>
</html>